/* .userInfo {
    height: 300px;
    width: 2000px;
    background-color: #97afbe;
    position: fixed;
    top: 60px;
    left: 0;
} */

.userInfo {
    height: 350px;
    width: 100%;
    background-color: #97afbe;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
}

.icon img {
    width: 200px;
    height: 200px;
}

.userName {
    font-size: 24px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: start;
}

.userName p {
    margin: 0;
}

.profile {
    font-size: 16px;
    color: white;
}

.favorites-container {
    margin-top: 320px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.favorite-item img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}