.app-container {
    height: 100vh;
}

.sidebar {
    height: 65px;
}

.reload {
    display: flex;
    justify-content: center;
}

.reload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #97afbe;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.reload-button:hover {
    background: #7f99ad;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.reload-button:active {
    transform: scale(0.95);
}

.reload-icon {
    font-size: 18px;
}